:root {
    --color-primary: #1b1b1b;
    --color-primary-light: #ff3366;
    --color-primary-dark: #ba265d;
    --color-grey-light-1: #faf9f9;
    --color-grey-light-2: #f4f2f2;
    --color-grey-light-3: #f0eeee;
    --color-grey-light-4: #ccc;
    --color-grey-dark-1: #333;
    --color-grey-dark-2: #777;
    --color-grey-dark-3: #999;
    --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
    --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
    --line: 1px solid var(--color-grey-light-2);
}

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: sans-serif;

    @media only screen and (max-width: 68.75em) {
        font-size: 50%;
    }
}

body {
    margin: 0;
}

.header {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: #f8f9fa;
}

.header #bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(list-banner-image.png);
    background-size: cover;
    filter: brightness(0.6) contrast(1.1);
}

main {
    background-color: #f4f3ef;
}

.overlay {
    height: 100vh;
    position: relative;
    background: rgb(244, 243, 239);
    background: linear-gradient(0deg,
            rgba(244, 243, 239, 1) 0%,
            rgba(244, 243, 239, 0.9066220238095238) 10%,
            rgba(244, 243, 239, 0.5984987745098039) 20%,
            rgba(244, 243, 239, 0.3968181022408963) 30%,
            rgba(244, 243, 239, 0.25) 40%,
            rgba(244, 243, 239, 0) 100%);
}

.filter-box {
    margin-top: 33rem;
    background-color: rgba(243,242,238,.3);
    box-shadow: 0 5px 5px rgba(0,0,0,.1);
    padding: 3rem;
    font-size: 1.6rem;
}

.search-box{
    height: 4rem !important;
    border: 1px solid #868e96 !important;
    border-radius: 2px !important;
}


.overlay .col-md-3,
.overlay .col-md-2 {
    padding: 0 0.7rem !important;
}


.select2-selection {
    height: 4rem !important;
    border: 1px solid #868e96 !important;
    border-radius: 2px !important;
}

.select2-search__field {
    margin-top: 0.8rem !important;
    font-size: 1.4rem !important;
    font-weight: 500 !important;
    margin-left: 0.5rem !important;
}

.select2-container--focus {
    box-shadow: 0 0 0 0.2rem rgba(225,83,97,.5) !important;
    border: none !important;
}

.select2-results__option--highlighted {
    background-color: #D80606 !important;
}

.search-box::placeholder {
    font-size: 1.4rem !important;
    font-weight: 500 !important;
}

.search-box:focus {
    box-shadow: 0 0 0 0.2rem rgba(225,83,97,.5) !important;
}

.btn-danger {
    background-color: #D80606 !important;
    font-size: 1.4rem !important;
    height: 4rem !important;
    transition: all .3s ease !important;
}

.btn-danger:hover {
    background-color: transparent !important;
    border: 1px solid #D80606 !important;
    color: #D80606 !important;
}

.btn-danger:active {
    background-color: transparent !important;
    border: 1px solid #D80606 !important;
    color: #D80606 !important;
    transform: translateY(5px);
}

.jobs {
    gap: 5rem;
}

.left-panel {
    flex: 30%;
}

.job-listings {
    flex: 70%;
}

.section-heading {
    margin: 2rem 2rem 3rem 2rem;
}

.section-heading h3 {
    font-size: 2.4rem;
    text-transform: uppercase;
}

.department-dropdown,
.industry-dropdown,
.clear-all {
    margin: 2rem;
}


.btn-outline-danger {
    color: #D80606 !important;
    border-color: #D80606 !important;
    transition: all .3s ease !important;
    font-size: 1.4rem !important;
}

.btn-outline-danger:hover {
    background-color: #D80606 !important;
    border: none !important;
    color: #fff !important;
}

.btn-outline-danger:active {
    background-color: #D80606 !important;
    border: none !important;
    color: #fff !important;
    transform: translateY(5px);
}