:root {
    --color-primary: #1b1b1b;
    --color-primary-light: #ff3366;
    --color-primary-dark: #ba265d;
    --color-grey-light-1: #faf9f9;
    --color-grey-light-2: #f4f2f2;
    --color-grey-light-3: #f0eeee;
    --color-grey-light-4: #ccc;
    --color-grey-dark-1: #333;
    --color-grey-dark-2: #777;
    --color-grey-dark-3: #999;
    --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
    --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
    --line: 1px solid var(--color-grey-light-2);
}

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: sans-serif;

    @media only screen and (max-width: 68.75em) {
        font-size: 50%;
    }
}

body {
    margin: 0;
}

.header {
    position: relative;
    width: 100%;
    height: 90vh;
    overflow: hidden;
    background: #f8f9fa;
}

.header #bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(list-banner-image.png);
    background-size: cover;
    filter: brightness(0.6) contrast(1.1);
}

main {
    background-color: #f4f3ef;
}

.overlay {
    height: 90vh;
    position: relative;
    background: rgb(244, 243, 239);
    background: linear-gradient(0deg,
            rgba(244, 243, 239, 1) 0%,
            rgba(244, 243, 239, 0.9066220238095238) 10%,
            rgba(244, 243, 239, 0.5984987745098039) 20%,
            rgba(244, 243, 239, 0.3968181022408963) 30%,
            rgba(244, 243, 239, 0.25) 40%,
            rgba(244, 243, 239, 0) 100%);
}

.filter-box {
    margin-top: 33rem;
    background-color: rgba(243,242,238,.3);
    box-shadow: 0 5px 5px rgba(0,0,0,.1);
    padding: 3rem;
    font-size: 1.6rem;
}

.search-box{
    height: 4rem !important;
    border: 1px solid #868e96 !important;
    border-radius: 2px !important;
}


.overlay .col-md-3,
.overlay .col-md-2 {
    padding: 0 0.7rem !important;
}


.select2-selection {
    height: 4rem !important;
    border: 1px solid #868e96 !important;
    border-radius: 2px !important;
}

.select2-search__field {
    margin-top: 0.8rem !important;
    font-size: 1.4rem !important;
    font-weight: 500 !important;
    margin-left: 0.5rem !important;
}

.select2-container--focus {
    box-shadow: 0 0 0 0.2rem rgb(0 8 16 / 25%) !important;
    border: none !important;
}

.select2-results__option--highlighted {
    background-color: #343a40 !important;
}

.search-box::placeholder {
    font-size: 1.4rem !important;
    font-weight: 500 !important;
}

.search-box:focus {
    box-shadow: 0 0 0 0.2rem rgb(0 8 16 / 25%) !important;
}

.btn-red {
    background-color: #D80606 !important;
    font-size: 1.4rem !important;
    height: 4rem !important;
    transition: all .3s ease !important;
    color: #ffff !important;
}

.btn-red:hover {
    background-color: transparent !important;
    border: 1px solid #D80606 !important;
    color: #D80606 !important;
}

.btn-red:active {
    background-color: transparent !important;
    border: 1px solid #D80606 !important;
    color: #D80606 !important;
    transform: translateY(5px);
}

.btn-black {
    background-color: #343a40 !important;
    transition: all .3s ease !important;
    color: #ffff !important;
    font-size: 1.4rem !important;
}

.btn-black:focus,
.btn-outline-black:focus {
    box-shadow: 0 0 0 0.2rem rgb(0 8 16 / 25%) !important;
}

.btn-black:hover {
    background-color: transparent !important;
    border: 1px solid #343a40 !important;
    color: #343a40 !important;
}

.btn-black:active {
    background-color: transparent !important;
    border: 1px solid #343a40 !important;
    color: #343a40 !important;
    transform: translateY(5px);
}

.jobs {
    gap: 5rem;
}

.left-panel {
    flex: 25%;
}

.job-listings {
    flex: 75%;
}

.section-heading {
    margin: 2rem 2rem 3rem 2rem;
}

h3 {
    font-size: 3rem !important;
    text-transform: uppercase;
    font-weight: 600 !important;
}

.department-dropdown,
.industry-dropdown,
.clear-all,
.jobs-count {
    margin: 2rem;
}




.btn-outline-black {
    color: #343a40 !important;
    border-color: #343a40 !important;
    transition: all .3s ease !important;
    font-size: 1.4rem !important;
}

.btn-outline-black:hover {
    background-color: #343a40 !important;
    border: none !important;
    color: #fff !important;
}

.btn-outline-black:active {
    background-color: #343a40 !important;
    border: none !important;
    color: #fff !important;
    transform: translateY(5px);
}

.job-card {
    background-color: #fff;
}

ion-icon {
    color: #495057;
    font-size: 2rem;
}

h4 {
    font-size: 2.6rem !important;
    font-weight: 500 !important;
}

p {
    font-size: 1.4rem !important;
    color: #868e96 !important;
}

.job-name {
    padding: 2rem 2rem 1rem 2rem;
}

.job-info {
    padding: 0.5rem 2rem 2rem 2rem;
    display: flex;
    gap: 1.6rem;
}

.job-info div {
    display: flex;
    gap: 0.7rem;
}

.job-card {
    margin: 1.5rem 0;
    display: flex;
}

.info-div {
    flex: 80%;
}

.btn-div {
    flex: 20%;
}

.apply-btn {
    margin: 3rem 2rem;
}

.card-1 {
    border-left: 1rem solid #4c414a;
}

.card-2 {
    border-left: 1rem solid #49575a;
}

.card-3 {
    border-left: 1rem solid #202b34;
}
.card-4 {
    border-left: 1rem solid #606961;
}
.card-5 {
    border-left: 1rem solid #9e9da4;
}

/* #707072; */
/* #9A9A9F */
/* #4c414a */
/* #330f17 */
/* #223236 */